<!doctype html>
<html id="endquizhtml">
	<head>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,700">
		<link rel="shortcut icon" type="image/x-icon" href="/static/photos/womanpower.ico">
		<title>Badass Women</title>
	</head>

	<body class="bodybackgroundimage">
		<h1>Sports stars</h1>
		<br>
			<h2>
			YOUR RESULTS: {{correct}}/{{total}}
			<br>
			These are the correct answers:
			<br>
			<ol>
				{% for question in questions %}
   				 <li class="completedquestion">{{ question.question }} <br>
   				 	<p class="correctanswer">
   				 	{% if question.correct == 1 %}
   				 		{{question.answer1}}
   				 	{% elif question.correct == 2 %}
   				 		{{question.answer2}}
   				 	{% elif question.correct == 3 %}
   				 		{{question.answer3}}
					{% endif %}
					</p>
				</li>
				{% endfor %}
			</ol>
		

			<p><a class="myButton" href="{% url "start_page" %}">Back to start page</a></p>
			<p class="photo_credit">
				Image by Cassie Kiedrowski via Flickr
			</p>
		<footer>
			<p>
				BY ANNA MALKAN, 2015
			</p>
		</footer>
	</body>
</html>