<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,700">
		<title>It was never a cape: women in history</title>
	</head>

	<body>
		<h1>{{ question_number }}.</h1>
			<p class="question_text">
			{{ question }}
			</p>
			<img class="circular" > {{ image }}
			
			<br>
			<p class="photo_credit">
			AP Images
			</p>
			<br>
			<form action="{%url "question_page" quiz.slug question_number %}" method="post">
			{% csrf_token %}
				<label>
				<input type="radio" name="answers" value="1" checked>
				{{ answer1 }}
				</label>
				<br>
				<label>
				<input type="radio" name="answers" value="2" checked>
				{{ answer2 }}
				</label>
				<br>
				<label>
				<input type="radio" name="answers" value="	3" checked>
				{{ answer3 }}
				</label>
				<br><br>
				<p><button type="submit" class="myButton">Next</button></p>
			</form>
		

		


	</body>
</html>