<!doctype html>
<html id = "indexhtml">
	<head>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,700">
		<link rel="shortcut icon" type="image/x-icon" href="photos/womanpower.ico" />
		<title>Badass Women</title>
	</head>

	<body class="bodybackgroundimage">
		<h1 class="indexh1">BADASS WOMEN<br> YOU SHOULD KNOW</h1>
			
<!-- 		<br>
			<p>
			Growing up we learned about a lot of important people in school. We learned about people who started wars and ended them, people who ruled countries and liberated them. We learned of people who wrote books we still read today, painted paintings that hang on the walls of prominent museums and those who wrote music that is still performed in the world's most spectacular concert halls. 
			</p>
			<p id="introparagraph">
			If your schooling was similar to mine these people shared a few characteristics. They were almost all <em> rich, white, <strong>men</strong>.</em> 
			</p>
			<p>
			The quizzes on this page aim to teach you more about a few of the many women often forgotten in the history books.
			</p>
		<br>
		<h2>Quizzes:</h2> -->
		{% for quiz in quizzes %}
		<h1 id=quizlist ><a href="{%url "quiz_page" quiz.slug %}">
			{{ quiz.name }}
			</a></h1>
		{% empty %}
			<h1> <em> There are no quizzes added yet </em> </h1>
		{% endfor %}

		<p class="photo_credit">
			Photographer unknown. Courtesy of the D.C. Public Library historic image collection.
			</p>
	</body>
</html>