<!doctype html>
<html id = "indexhtml">
	<head>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,700">
		<link rel="shortcut icon" type="image/x-icon" href="/static/photos/womanpower.ico" />
		<title>Badass Women</title>
	</head>

	<body class="bodybackgroundimage">
		<h1 class="indexh1">BADASS WOMEN<br> YOU SHOULD KNOW</h1>

		{% for quiz in quizzes %}

		<h1 id=quizlist ><a href="{%url "quiz_page" quiz.slug %}">
			{{ quiz.name }}
			</a></h1>
		{% empty %}
			<h1> <em> There are no quizzes added yet </em> </h1>
		{% endfor %}

		<p class="photo_credit">
			Photographer unknown. Courtesy of the D.C. Public Library historic image collection.
			</p>
		<footer>
			<p>
				BY ANNA MALKAN, 2015
			</p>
		</footer>
	</body>
</html>